<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaReservaCine.Properties.Settings.SistemReservaCineConnectionString"
            connectionString="Data Source=LENOVOM95\SQLEXPRESS;Initial Catalog=SistemReservaCine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaReservaCine.Properties.Settings.ReservaCineConnectionString"
            connectionString="Data Source=LENOVOM95\SQLEXPRESS;Initial Catalog=ReservaCine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaReservaCine.Properties.Settings.ReservaCine_1ConnectionString"
            connectionString="Data Source=LENOVOM95\SQLEXPRESS;Initial Catalog=ReservaCine_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>